body {
    background: linear-gradient(to right, #141938, #132135, #110d49);
    font-family: 'Poppins', sans-serif;
}

#signup {
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 30px;
    background-color: rgba(245, 245, 245, 0.945);
    border-radius: 10px;
    font-size: 15px;
}

#signup h1{
    color: #000;
}

#signup button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: aliceblue;
    background-color: rgb(41,57,194);
    border: none;
    border-radius: 4px;
}

.input-control{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.input-control input{
    border: 2px solid #f0f0f088;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 90%;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}


